doctype html
html(lang="ru")
	block head
		head
			meta(charset="utf-8")
			meta(name="viewport" content="width=device-width, initial-scale=1")
			meta(http-equiv="X-UA-Compatible" content="ie=edge")
			link(rel="shortcut icon" href="./img/favicon/favicon.ico"  type="image/x-icon")
			link(rel="stylesheet" href="css/style.min.css")
			title Мой сайт
	body
		block header
			include header
		block content
		block footer
			include footer
		block script
			script(src="js/jslibs.min.js")
			script(src="js/main.min.js")