@import './common/global';
.main{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #0B0B0B;
	color: #fff;
	h1{
		font-size: 100px;
	}
}












@import './common/media'