$accent: orange; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #333; // Text Color
$font-family: 'Roboto';
$container: 1230px;
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family